<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>INVENTARIO DE PRODUCTOS</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1>FORMULARIO DE PRODUCTOS</h1>
    <form action="tablasProductos.html">
        <label>Nombre del producto</label>
        <input type="text" required> <br>
        <label>Cantidad </label>
        <input type="number" required min="1"> <br>
        <label> Precio </label>
        <input type= "number" required min="1"><br>
        <a href="register.html">Registrar</a>
        <button type="submit" id="botonDos">Listar</button>
    </form>
    
</body>
</html>